{% extends 'base.html' %}

{% block content %}
  <h1>A simple to-do application</h1>

  <a href="{{ url_for('todos.create') }}"><input type="button" value="Add to list"></a></li>
  <a href="{{ url_for('todos.index') }}"><input type="button" value="Show All"></a></li>
  <a href="{{ url_for('todos.index_completed') }}"><input type="button" value="Show Completed"></a></li>
  <a href="{{ url_for('todos.index_not_completed') }}"><input type="button" value="Show Not Completed"></a></li>
  <ul>
    {% for todo in todos %}
      <li class="{{ "completed" if todo['completed'] }}">
      {{ todo['description'] }}
      {% if todo['completed'] == False %}
      <a href="{{ url_for('todos.mark', id=todo['id']) }}"><input type="button" value="Mark"></a>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
